<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Mensagem</title>
</head>

<body>
    <!-- conteudo principal -->
   <main layout:fragment="conteudo" th:fragment="texto" id="main" class="flex flex-col w-full">

        <h2 th:text="${mensagem}" class="text-xl m-3 p-3 font-semibold text-gray-400 md:text-3xl">Cadastrar</h2>

    </main>

</body>

</html>